.work-filter{
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 4.5rem;
}
.work-item{
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}
.work-item:hover{
    color: var(--first-color);
}
.work-container{
    grid-template-columns: repeat(3,1fr);
    gap: 1.875rem;
}
.work-card{
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
.mask{
    background: #6c98e5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
    border-radius: var(--border-radius);
}
.work-card:hover .mask{
    opacity: 0.6;
}
.work-category{
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top :0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}
.work-title{
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98;
    padding:0 1.25 ;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}
.work-button{
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: var(--first-color);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}
.work-card:hover .work-button {
    opacity: 1;
}
.work-card:hover .work-title,
.work-card:hover .work-category{
    opacity: 1;
    transform: translateY(0px);
}
.work-image{
    border-radius: var(--border-radius);

}
.work-thumbnail{
    display: grid;
    place-items: center;
}

@media screen and (max-width:1024px){
    .work-filter{
        justify-content: center;
    }
    .work-container{
        grid-template-columns: repeat(2,330px);
        justify-content: center;
        row-gap: 1.875rem;
    }

    }
    @media screen and (max-width:768px){
    .work-container{
        grid-template-columns: 310px;
    }
    .work-filter{
        row-gap: .25rem;
        font-size: var(--small-font-size);
    }
    }